@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.hero-bg {
    background-image: url("../../public/hero-background.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}